*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.equipe-div{
    display: flex;
    border: 2PX #2E2E2E solid ;
    border-radius: 4px;
    margin: 2%;
    box-shadow: 10px 5px 5px black;
  
    

}
.equipe-div img{
    width: 20%;
    
}
.equipemain{
    margin: 4%;
   background: #E7E1DE;
}
h1{ 
    text-align: center;
}
.présentation{
    font-family: 'Dancing Script', cursive;
}
.texte{
    padding-top: 5%;
    font-family:'Dancing Script', cursive;
    font-size: 20PX; 
    color: green;
}
.arch{
    text-align: center;
    color: red;
    font-family: 'Caveat', cursive;
    letter-spacing: 2px;
}


.présentation-main{
background-color:white;
background-color: #E7E1DE;
}
.présentation-hr{
    width: 55%;
    margin: 1% auto;
}
.pprésentation{
    width: 55%;
    margin: auto;

}
.presentationimg{
    width: 20%;
    margin-top: 3%;
}
.partenaire{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    }
    .pp{
        border: solid 2PX white;
        padding: 10%;
        color: red;
        background-color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        margin-bottom: 3%;
        

        }
        .contacte{
            border:#F54646 solid 2px ;
            text-decoration: none;
            color: white;
            border-radius: 4px;
            padding: 2% 7% 2% 7%;
            margin: 30%;
            background-color: #F54646;
           
           
        }
        
        
        
        
    