*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
}



.header-toolbar{
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
    background-color: #2e2e2e;
}

.header-toolbar a{
    color: white;
    padding: 10px;
    margin: 4px;
}

.header-nav :hover{
    color: #f54646 ;
    transition: color 0.5s;
}

.header-toolbar span{
    color: white;
    font-size: 0.8em;
}

.header-logo{
    margin: 17px 12% 17px 8%;
    min-width: 220px;
    text-align: start;
}

.header-logo a{
    color: #f54646;
    font-size: 1.6em;
    margin-left: 0;
    padding-left: 0;
}

.header-nav{
    margin: 17px 8% 17px 12%;
}

.header-bg{
    background-image: linear-gradient(rgba(29, 29, 31, 0.4), rgba(255, 255, 255, 0.2)),
                      url(img/background.jpg);
                      
    height: 500px;
    background-size: cover;
    background-position-Y: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.header-bg h2{
    color: white;
    font-size: 3em;
    animation: bg 3s;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2e2e2e;
}

.footer-logo{
    min-width: 300px;
    font-size: 1.8em;
    color: #f54646;
    margin-left: 3%;
}

.footer-contact{
    min-width: 400px;
    color: white;
}
footer img{
    height: 18px;
    float: left;
    margin-right: 5px;   
}

.footer-phone{
    margin:5px 0 7px 0;
    color: #f54646;
}



@keyframes bg{
    from{
        transform: translatex( -1100px);
    }
    to{
        transform: translateX( 0 );
    }

}

.rea-main{
    display: flexbox;
    flex-direction: column;
    width: 100%;
    background-color: rgb(184, 182, 182);
    margin-top: 50px;

}

.rea-main h1{
    padding-top: 100px;
    text-align: center;
    font-size: 2.8em;
    margin-top: 10px
}

.rea-main p{
    text-align: center;
    margin-bottom: 17px;
    color: rgb(58, 57, 57);
}

.rea-projets{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.rea-projet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 380px;
    height: 320px;
    background-color: white;
    padding: 20px;
    margin: 20px;
}

.rea-projet img{
    width: 350px;
    height: 200px;
    display: flex;
    margin-bottom: 12px;
    color: rgb(22, 22, 22);
}

.rea-text{
    text-align: center;
    color: rgb(53, 52, 52);
    margin-bottom: 3px;
}

.rea-address{
    color: grey;
}


.ct-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1200px;
    background-color: #f54646;
    margin-top: 60px;
}

.ct-main h1{
    color: #f54646;
    font-size: 2.5em;
}

.ct-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 880px;
    width: 600px;
    background-color: white;
  
}

.ct-identite{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 20px 20px 20px 0;
}

.ct-nom, .ct-prenom, .ct-phone, .ct-mail{
    width: 240px ;
    margin-bottom: 10px;
}


.ct-identite input{
    width: 100%;
}

.ct-submit{
    text-align: right;
    margin-right: 19px;
}

.ct-submit input{
    color: white;
    background-color:#f54646;
}

.ct-address{
    display: flex;
    width: 100%;
    justify-content: space-between;
    line-height: 1.3em;
}

.ct-address address{
    margin-bottom: 13px;
}

.ct-address h1{
    font-size: 1.5em;
    margin-top: 20px;
}
.ct-address img{
    height: 18px;
    float: left;
    margin-right: 5px;  
}

.ct-address span{
    color: #f54646;
}

.ct-horaires{
    margin-top: 13px;
}





